.start {
    background-color: #1ABC9C;
    text-align: center;
    padding: 8rem 0;
    width: 100%;
    .start_bootsrap {
        position: relative;
        align-items: center;
        img {
            margin-top: 48px;
            width: 15%;
        }

        h1 {
            color: #fff;
            font-size: 64px;
            margin-top: 48px;
        }

        p {
            color: #fff;
            font-size: 24px;
        }

        i {
            color: #fff;
            font-size: 32px;
            margin: 40px 0px;
        }

        .hr_1 {
            border: 2px solid #fff;
            border-radius: 5px;
            height: 2px;
            width: 7%;
            background-color: #fff;
            position: absolute;
            left: 40%;
            bottom: 15%;
        }

        .hr_2 {
            border: 2px solid #fff;
            border-radius: 5px;
            height: 2px;
            width: 7%;
            background-color: #fff;
            position: absolute;
            right: 40%;
            bottom: 15%;
        }
    }
}


@media screen and (max-width:800px) {
    .start{
        width: 100%;
        margin: 0;
        .start_bootsrap{
            align-items: center;
            h1 {
                color: #fff;
                font-size: 24px;
                margin-top: 48px;
            }
            .hr_1 {
                border: 2px solid #fff;
                border-radius: 5px;
                height: 2px;
                width: 7%;
                background-color: #fff;
                position: absolute;
                left: 40%;
                bottom: 20%;
            }
    
            .hr_2 {
                border: 2px solid #fff;
                border-radius: 5px;
                height: 2px;
                width: 7%;
                background-color: #fff;
                position: absolute;
                right: 40%;
                bottom: 20%;
            }
            p {
                color: #fff;
                font-size: 18px;
            }
        }
    }
}